body {
  color: #fff;
  font-family: courier new, courier, monospace;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* make the canvas the size of the viewport */
canvas {
  display: block;
  height: 100vh;
  width: 100vw;
}

a {
  border: 2px solid transparent;
  text-decoration: none;
}
a:link, a:visited {
  color: #fff;
  border-bottom: 1px dotted;
}
a:focus {
  border: 2px solid #000;
}
a:hover {
  color: #00EEA6;
  text-decoration: none;
  border-bottom: none;
}

.stats-box {
  background-color: #000;
  left: 0.5em;
  padding: 5px;
  position: absolute;
  opacity: 0.4;
  top: 0.5em;
}
#stats {
  margin: 0;
  padding: 0;
}

footer {
  bottom: 0.5em;
  position: absolute;
  right: 0.5em;
}
